root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

[{*.md,*.yml}]
indent_size = 2

[docs/{CNAME,.nojekyll}]
insert_final_newline = false
